<h1>New Link</h1>
<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2> Error(s) prohibited this link from being saved:</h2>
      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= react_component('NewLinkForm') %>

  <%= f.submit "Publish Post", class: "btn btn-info" %>
<% end %>
<br/>
